@model IEnumerable<Data.Models.GiangVien>

    <label>Chọn giảng viên (nếu có)</label>
    <select id="SelectGVHD" class="form-control">
        @if (ViewBag.Selected == null)
        {
            <option selected>Chọn...</option>
}
        @foreach (var item in Model)
        {
            if (item.Id == ViewBag.Selected)
            {
                <option value="@item.Id" selected>@item.Ho @item.Ten</option>
            }
            else
            {
                <option value="@item.Id">@item.Ho @item.Ten</option>
            }
        }
    </select>
