@model IEnumerable<Data.Models.CtxetDuyetVaDanhGia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SinhVien/Views/Shared/_Layout.cshtml";
}
@section Script{
    <script src="~/Resources/SinhVien/XetDuyetDeTai.js"></script>
}

@if (ViewBag.DangMoDot == true)
{
    <div class="container" id="mydiv">
        <div class="row">
            <div class="col-md-4 p-3 card">
                @await Component.InvokeAsync("ThoiGianMoDot", ViewBag.Dot)
                <hr />
                <div class="card-header">
                    <h3 class="card-title col text-center"><b>Danh sách câu hỏi</b></h3>
                </div>

                @await Component.InvokeAsync("ListCauHoi", Model)
            </div>

            <div class="col-md-8">
                <div hidden id="wait" class="overlay">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            @ViewBag.TenDeTai
                        </div>
                        @*<div class="card-tools"><button class="btn btn-warning btn-sm btnXemNhom" title="Nhóm thực hiện"><i class="fas fa-user-friends"></i></button></div>*@
                    </div>

                    <div class="card-body" id="NoiDung">
                        <div class="row">
                            <label>Báo của của sinh viên: </label>
                        </div>

                        <div class="row">
                            <div class="mailbox-read-message">
                                @if (ViewBag.XDDG.NoiDung != null)
                                {
                                    <p style="white-space: pre-line" id="txtNoiDungBaiPost">
                                        @ViewBag.XDDG.NoiDung
                                        <a href="~/FileUpload/BaoCaoXetDuyetDanhGia/@ViewBag.XDDG.TepDinhKem" download="@ViewBag.XDDG.TepDinhKem">@ViewBag.XDDG.TenTep</a>
                                    </p>
                                }
                                else
                                {
                                    <p style="white-space: pre-line" id="txtNoiDungBaiPost">
                                        Chưa có nội dung
                                    </p>
                                }


                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-right">
                                <button class="btn btn-success btn-sm btnCapNhatND" data-id="@ViewBag.XDDG.Id">Chỉnh sửa</button>
                            </div>
                        </div>
                        <hr />

                        @* List đánh giá *@
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h2 class="card-title">Đánh giá của hội đồng</h2>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table id="tblDanhGia" class="table table-bordered table-hover dataTable table-sm" role="grid" aria-describedby="example1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>Thành viên</th>
                                                    <th>
                                                        Vai trò
                                                    </th>
                                                    <th>
                                                        Đánh giá
                                                    </th>
                                                    <th>
                                                        Ngày đánh giá
                                                    </th>
                                                    <th>
                                                        Điểm
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Any())
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        if (item.Diem.HasValue)
                                                        {
                                                            <tr id="@item.Id">
                                                                <td>@item.IdgiangVienNavigation.Ho @item.IdgiangVienNavigation.Ten</td>
                                                                @if (item.VaiTro == 1)
                                                                {
                                                                    <td>Chủ tịch</td>
                                                                }
                                                                else if (item.VaiTro == 2)
                                                                {
                                                                    <td>Ủy viên</td>
                                                                }
                                                                else if (item.VaiTro == 3)
                                                                {
                                                                    <td>Thư ký</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Phản biện</td>
                                                                }
                                                                <td>@item.NhanXet</td>
                                                                <td>@item.NgayDanhGia.Value.ToString("HH:mm, dd/MM/yyyy")</td>
                                                                <td>@item.Diem</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="text-center" colspan="4"><b>Điểm trung bình</b></td>
                                                    <td class="bg-success diemTB">@ViewBag.DiemTB</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <input id="valueIdCT" hidden />
    <input id="valueIdXDDG" hidden />
    
    <!-- modal-TraLoiCauHoi -->
    <div class="modal fade" id="modalTraLoiCauHoi">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title titleHeader">Trả lời câu hỏi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- modal-NopBaoCao -->
    <div class="modal fade" id="modalNopBaoCao">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title titleHeader">Nộp báo cáo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <div class="card card-default">
                <div class="card-header">
                    <p class="card-title col text-center text-danger">Hiện tại chưa có đợt xét duyệt đề tài.</p>
                </div>

            </div>
        </div>
    </div>
}
