@model TabListViewModel

<div class="row">
    <div class="col">
        <div class="card card-navy card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    @if (Model.ViewType == (int)Data.Enum.ViewType.ThaoLuanGV)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">
                                CÔNG KHAI
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">
                                RIÊNG TƯ
                            </a>
                        </li>
                    }
                    else if(Model.ViewType == (int)Data.Enum.ViewType.XetDuyetGV)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">
                                ĐỢT 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">
                                ĐỢT 2
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                    @if (Model.ViewType == (int)Data.Enum.ViewType.ThaoLuanGV)
                    {
                        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">

                            <table  class="table table-borderless table-hover dataTable table-sm" role="grid">
                                <tbody id="tblCongKhai">
                                    @foreach (var item in Model.tabCongKhai)
                                    {

                                        <tr id="@item.Id">
                                            <td><label class="text-truncate" style="max-width: 190px">@item.TieuDe</label></td>
                                            <td>@item.NgayPost.Value.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                            <table id="tblRiengTu" class="table table-borderless table-hover dataTable table-sm" role="grid">
                                @foreach (var item in Model.tabRiengTu)
                                {

                                    <tr id="@item.Id">
                                        <td><label class="text-truncate" style="max-width: 190px">@item.TieuDe</label></td>
                                        <td>@item.NgayPost.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.IdkenhThaoLuanNavigation.IddeTai</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else if(Model.ViewType == (int)Data.Enum.ViewType.XetDuyetGV)
                    {
                        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">

                            <table class="table table-borderless table-hover dataTable table-sm" role="grid">

                                <tr>
                                    <td><label class="text-truncate" style="max-width: 190px">Tên đề tài 1</label></td>
                                    <td>Chưa đánh giá</td>
                                </tr>
                                <tr>
                                    <td><label class="text-truncate" style="max-width: 190px">Tên đề tài 2</label></td>
                                    <td>Chưa đánh giá</td>
                                </tr>
                                <tr>
                                    <td><label class="text-truncate" style="max-width: 190px">Tên đề tài 3</label></td>
                                    <td>Đã đánh giá</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                            Tên đề tài 4
                        </div>
                    }
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
