@model MoDot
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var a = ViewBag.NgayBdDeTai;
}
@section Script
{
    <script>
        $(function ()
        {
            $('.datepicker').datepicker();
        })
    </script>
    <script>
        $(document).ready(function ()
        {
            $(".btnDelete").on("click", function ()
            {
                var id = $(this).attr("id");
                var SetModalFooter = $("#modelfooter").html("");
                var Data = '<a class="btn btn-danger btn-block" href="MoDot/Delete/' + id + '">Xóa</a>'
                SetModalFooter.append(Data);
            })
        });
    </script>
}
@if(ViewBag.mess != null)
{
    <script type="text/javascript">
        window.onload = function ()
        {
            this.toastr.success("@ViewBag.mess");
        }
    </script>
}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-warning">
                @if (Model != null)
                {
                    <div class="card-header">
                        <h3 class="card-title">Sự kiện</h3>
                        <div class="card-tools">
                            <button type="button" id="@Model.Id" class="btn btn-tool btnDelete text-right"  data-toggle="modal" data-target="#modal-sm"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">

                        @if (Model.Loai == (int)MoDotLoai.DangKy)
                        {
                            <h2 class="text-center">
                                Đợt đăng ký đề tài
                            </h2>
                        }
                        else if (Model.Loai == (int)MoDotLoai.XetDuyetDeTai)
                        {
                            <h2 class="text-center">
                                Đợt xét duyệt đề tài
                            </h2>
                        }
                        else
                        {
                            <h2 class="text-center">
                                Đợt nghiệm thu đề tài
                            </h2>
                        }
                        <div class="text-center">
                            <h3>Thời gian @Model.ThoiGianBd.Value.ToString("hh:mm tt, dd/MM/yyyy") - @Model.ThoiGianKt.Value.ToString("hh:mm tt, dd/MM/yyyy")</h3>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card-body"><h2 class="col text-center">Hiện chưa có đợt nào được mở</h2></div>
                }
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Mở đợt</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool btnEdit text-right"><i class="fas fa-door-open"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    @await Html.PartialAsync("_CreateMoDotPopup", Model)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Ngày bắt đầu thực hiện đề tài</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool btnEdit text-right"><i class="fas fa-flag-checkered"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">

                        <div class="form-group">
                            <label>Thời gian bắt đầu</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input  type="datetime-local" id="NgayBdDeTai" name="NgayBdDeTai" value="@ViewBag.NgayBdDeTai" class="form-control" data-provide="datepicker" data-date-format="mm/dd/yyyy">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Thời gian kết thúc</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="datetime-local" id="NgayKtDeTai" name="NgayKtDeTai" value="@ViewBag.NgayKtDeTai" class="form-control" data-provide="datepicker" data-date-format="mm/dd/yyyy">

                            </div>
                        </div>

                        <div class="form-group">
                            @if (ViewBag.NgayBdDeTai == null)
                            {
                                <button class="btn btn-success" asp-controller="MoDot" asp-action="CreateTGThucHienDeTai">Tạo</button>
                            }
                            else
                            {

                                <button class="btn btn-success" asp-controller="MoDot" asp-action="EditTGThucHienDeTai">Chỉnh sửa</button>
                            }
                            @*<button class="btn btn-success" asp-controller="MoDot" asp-action="CreateTGThucHienDeTai">Tạo</button>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleHeader">Xác nhận xóa đợt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer justify-content-between" id="modelfooter">
            </div>
        </div>
    </div>
</div>

